<ol class="flex items-center justify-between gap-x-2.5 max-sm:hidden mb-8">
  <li class="flex items-center gap-x-2.5 {% if current_step != 1 %}opacity-50{% endif %}">
    <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">1</div>
    <h2 class="font-semibold">{{ _('Domains & SSL') }}</h2>
  </li>
  <li class="flex-1">
    <hr class="h-px border-border" />
  </li>
  <li class="flex items-center gap-x-2.5 {% if current_step != 2 %}opacity-50{% endif %}">
    <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">2</div>
    <h2 class="font-semibold">{{ _('GitHub') }}</h2>
  </li>
  <li class="flex-1">
    <hr class="h-px border-border" />
  </li>
  <li class="flex items-center gap-x-2.5 {% if current_step != 3 %}opacity-50{% endif %}">
    <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">3</div>
    <h2 class="font-semibold">{{ _('Email') }}</h2>
  </li>
  <li class="flex-1">
    <hr class="h-px border-border" />
  </li>
  <li class="flex items-center gap-x-2.5 {% if current_step != 4 %}opacity-50{% endif %}">
    <div class="shrink-0 rounded-full size-6 bg-primary text-primary-foreground flex items-center justify-center text-xs font-mono font-semibold">4</div>
    <h2 class="font-semibold">{{ _('Confirm') }}</h2>
  </li>
</ol>