{% macro render_build_and_deploy(form, presets, images) %}
<script>
  var presets = {{ presets | tojson }};
  var images = {{ images | tojson }};
  presets = presets.map(preset => {
    const presetTags = Array.isArray(preset?.tags) ? preset.tags : [];
    if (!presetTags.length) return { ...preset, allowedImages: null };

    const matched = images.filter(i =>
      Array.isArray(i.tags) && presetTags.every(t => i.tags.includes(t))
    );

    return { ...preset, allowedImages: matched.length ? matched : null };
  });
</script>
<div
  class="space-y-6"
  x-data="{
    selectedPreset: '{{ form.preset.data }}',
    disableImageOptions(preset) {
      if (!$refs.imageInput) return;
      $refs.imageInput.querySelectorAll('option').forEach(option => {
        if (!preset?.category) {
          option.disabled = false;
        } else {
          if (option.parentElement.tagName === 'OPTGROUP' && option.parentElement.label === preset?.category) {
            option.disabled = false;
          } else {
            option.disabled = true;
          }
        }
      });
    },
    setPreset(slug = null, force = false) {
      if (!slug) {
        this.disableImageOptions(null);
        return;
      }
      const preset = presets.find(p => p.slug === slug);
      const applyValue = (ref, value) => {
        if (!ref) return;
        if (force || !ref.value) ref.value = value || '';
      };
      if ($refs.imageInput) {
        this.disableImageOptions(preset);
        applyValue($refs.imageInput, preset?.image);
      }
      applyValue($refs.rootDirectoryInput, preset?.root_directory);
      applyValue($refs.buildCommandInput, preset?.build_command);
      applyValue($refs.preDeployCommandInput, preset?.pre_deploy_command);
      applyValue($refs.startCommandInput, preset?.start_command);
    },
  }"
  x-init="setPreset(selectedPreset)"
>
  {# FRAMEWORK PRESET #}
  <div class="space-y-3">
    <label for="preset">{{ _('Framework preset') }}</label>
    {% from "macros/select.html" import select %}
    {% call select(
      name="preset",
      selected=form.preset.data,
      main_attrs={'@change': 'setPreset(event.detail.value, true)'},
      is_combobox=True,
      listbox_attrs={'class': 'max-h-[162px] overflow-y-auto scrollbar'}
    ) %}
      <div role="option" data-value="">
        <span class="flex items-center gap-x-2 [&>svg]:text-muted-foreground">
          {% include "icons/circle-off.svg" %}
          {{ _('None') }}
        </span>
      </div>
      {% for preset in presets %}
        <div role="option" data-value="{{ preset.slug }}">
          <span class="flex items-center gap-x-2">
            {{ preset.logo | safe }}
            {{ preset.name | safe }}
            {% if preset.beta %}
              <span class="badge-outline">Beta</span>
            {% endif %}
          </span>
        </div>
      {% endfor %}
    {% endcall %}
    {% for error in form.preset.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
  </div>

  {# DOCKER IMAGE #}
  <div class="space-y-3">
    {{ form.image.label() }}
    {{ form.image(**{'x-ref': 'imageInput'}) }}
    {% for error in form.image.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
  </div>

  {# ROOT DIRECTORY #}
  <div class="space-y-3">
    {{ form.root_directory.label() }}
    <div class="relative">
      {{ form.root_directory(
        id=False,
        class="w-full font-mono text-[13px]",
        pattern="^\.?/?([a-zA-Z0-9_\-]+/?)*$",
        placeholder="./",
        **{'x-ref': 'rootDirectoryInput'}
      ) }}
    </div>
    {% for error in form.root_directory.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Commands will run from this directory.') }}
    </p>
  </div>

  {# BUILD COMMAND #}
  <div class="space-y-3">
    {{ form.build_command.label() }}
    <div class="relative">
      {{ form.build_command(
        id=False,
        class="w-full font-mono text-[13px]",
        **{'x-ref': 'buildCommandInput'}
      ) }}
    </div>
    {% for error in form.build_command.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Install dependencies and build the project.') }}
    </p>
  </div>

  {# PRE-DEPLOY COMMAND #}
  <div class="space-y-3">
    {{ form.pre_deploy_command.label() }}
    <div class="relative">
      {{ form.pre_deploy_command(
        id=False,
        class="w-full font-mono text-[13px]",
        **{'x-ref': 'preDeployCommandInput'}
      ) }}
    </div>
    {% for error in form.pre_deploy_command.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Run commands before we start the app (e.g. migrate database).') }}
    </p>
  </div>

  {# START COMMAND #}
  <div class="space-y-3">
    {{ form.start_command.label() }}
    <div class="relative">
      {{ form.start_command(
        id=False,
        class="w-full font-mono text-[13px]",
        **{'x-ref': 'startCommandInput'}
      ) }}
    </div>
    {% for error in form.start_command.errors %}
      <p class="text-sm text-destructive">{{ error }}</p>
    {% endfor %}
    <p class="text-sm text-muted-foreground">
      {{ _('Start the app (must listen on <code>0.0.0.0:8000</code>).') | safe }}
    </p>
  </div>
</div>
{% endmacro %}
