{% extends "layouts/app.html" %}

{% block app_content %}
{% from "macros/avatar.html" import avatar with context %}
{% from "macros/icon-avatar.html" import icon_avatar %}

{% include "team/partials/_dialog-new-storage.html" %}

<div class="container max-w-screen-xl mx-auto p-8 space-y-6">
  <header class="flex justify-between items-center">
    <h1 class="h1 flex items-center gap-x-3">
      <a href="{{ url_for('team_index', team_slug=team.slug) }}">
        {% from "macros/avatar.html" import avatar with context %}
        {{ avatar(item=team, prefix="team", name=team.name, size="md") }}
      </a>
      <span class="text-muted-foreground/25 font-normal">/</span>
      {{ _("Storage") }}
    </h1>

    {% if storages %}
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('dialog-new-storage').showModal()"
      >
        {% include "icons/plus.svg" %}
        {{ _("New storage") }}
      </button>
    {% endif %}
  </header>
  
  {% if storages %}
    <section class="space-y-4">
      <header class="flex items-center gap-x-2 justify-between">
        <div class="relative">
          <input
            type="text"
            class="input pl-9 rounded-full h-8"
            placeholder="{{ _('Search...') }}"
            name="allowlist_search"
            value="{{ allowlist_search or '' }}"
            hx-get="{{ url_for('admin_settings').include_query_params(**{'fragment': 'allowlist-content'}) }}"
            hx-target="#allowlist-content"
            hx-trigger="input changed delay:300ms"
            hx-push-url="true"
          >
          <div class="absolute left-3 top-1/2 -translate-y-1/2 pointer-events-none text-muted-foreground [&>svg]:size-4">
            {% include "icons/search.svg" %}
          </div>
        </div>
        <div role="group" class="button-group">
          <button class="btn-sm-outline" aria-pressed="true">
            {{ _("All") }}
            <span class="ml-1 text-muted-foreground">{{ storages|length }}</span>
          </button>
          <button class="btn-sm-outline">
            {{ icon_avatar(type="database", size="xs") }}
            {{ _("Databases") }}
            <span class="ml-1 text-muted-foreground">
              {{ storages|selectattr("type", "equalto", "database")|list|length }}
            </span>
          </button>
          <button class="btn-sm-outline">
            {{ icon_avatar(type="volume", size="xs") }}
            {{ _("Volumes") }}
            <span class="ml-1 text-muted-foreground">
              {{ storages|selectattr("type", "equalto", "volume")|list|length }}
            </span>
          </button>
          <button class="btn-sm-outline">
            {{ icon_avatar(type="kv", size="xs") }}
            {{ _("KV") }}
            <span class="ml-1 text-muted-foreground">
              {{ storages|selectattr("type", "equalto", "kv")|list|length }}
            </span>
          </button>
          <button class="btn-sm-outline">
            {{ icon_avatar(type="queue", size="xs") }}
            {{ _("Queues") }}
            <span class="ml-1 text-muted-foreground">
              {{ storages|selectattr("type", "equalto", "queue")|list|length }}
            </span>
          </button>
        </div>
      </header>
      <ul>
        {% for storage in storages %}
          <li class="flex gap-x-6 items-center border border-b-0 last:border-b first:rounded-t-xl last:rounded-b-xl px-4 h-12 text-sm hover:bg-muted/50 transition-colors min-w-0">  
            <a
              href="{{ url_for('team_storage_item', team_slug=team.slug, storage_name=storage.name) }}"
              class="flex items-center gap-x-2 font-medium [&>svg]:size-4 [&>svg]:shrink-0 [&>svg]:text-muted-foreground"
              hx-boost="true"
              data-tooltip="{{ _('%(type)s name', type=storage.type|capitalize) }}"
            >
              {{ icon_avatar(type=storage.type, size="xs") }}
              <span class="truncate max-w-3xs" data-tooltip="{{ _('Name') }}">{{ storage.name }}</span>
            </a>

            {% if storage.status == "active" %}
              <span class="text-muted-foreground">
                {% if storage.projects %}
                  {{ _('%(count)s project%(plural)s connected', count=storage.projects|length, plural='s' if storage.projects|length > 1 else '') }}
                {% else %}
                  {{ _('No projects connected') }}
                {% endif %}
              </span>
            {% endif %}
            
            {% if storage.status == "pending" %}
              <span class="badge-secondary text-muted-foreground [&>svg]:size-4 [&>svg]:shrink-0 [&>svg]:animate-spin [&>svg]:-ml-1">
                {% include "icons/loader.svg" %}
                {{ _('Provisioning') }}
              </span>
            {% elif storage.status != "active" %}
              <span class="badge-secondary text-muted-foreground">
                {{ _(storage.status) }}
              </span>
            {% endif %}

            <div class="flex items-center ml-auto">
              <a
                href="{{ url_for('team_storage_item', team_slug=team.slug, storage_name=storage.name) }}"
                class="btn-sm-icon-ghost"
                data-tooltip="{{ _('Settings') }}"
              >
                {% include "icons/settings.svg" %}
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% else %}
    <section
      class="flex items-center justify-center min-h-60 bg-card text-card-foreground border shadow-sm rounded-xl p-4">
      <div class="max-w-sm">
        <div class="text-center">
          <h2 class="h4">{{ _('No storage yet.') }}</h2>
          <p class="text-muted-foreground mt-1">{{ _('Create a new database and connect it to projects.') }}
          </p>
          <button
            type="button"
            class="btn-sm mt-4"
            onclick="document.getElementById('dialog-new-storage').showModal()"
          >
            {% include "icons/plus.svg" %}
            {{ _('New storage') }}
          </button>
        </div>
      </div>
    </section>
  {% endif %}
</div>
{% endblock %}
