<div class="card">
  <header class="border-b">
    <h2>{{ _('Installation') }}</h2>
    <p>{{ _('Information about this installation and available updates.') }}</p>
  </header>

  <section class="space-y-4">
    {% if version_info %}
      <div
        hx-get="{{ url_for('admin_settings') }}?fragment=system"
        hx-swap="outerHTML"
        hx-trigger="load"
        class="hidden"
      ></div>
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <li>
          <div class="text-muted-foreground text-sm">{{ _('Version') }}</div>
          <a href="https://github.com/hunvreus/devpush/releases/tag/{{ version_info.get('git_ref') }}" target="_blank" class="flex items-center gap-x-2 [&>svg]:size-3 [&>svg]:text-muted-foreground hover:[&>svg]:text-foreground transition-colors" data-tooltip="{{ _('View on GitHub') }}">
            <span class="font-mono text-[13px]">{{ version_info.get('git_ref', '-') }}</span>
            {% include "icons/arrow-up-right.svg" %}
          </a>
        </li>
        <li>
          <div class="text-muted-foreground text-sm">{{ _('Last updated') }}</div>
          {{ version_info.get('updated_at') | time_ago }}
        </li>
        <li>
          <div class="text-muted-foreground text-sm">{{ _('Install ID') }}</div>
          <button
            type="button"
            onclick="
              const button = this;
              navigator.clipboard.writeText('{{ version_info.get('install_id') }}').then(() => {
                button.dataset.tooltip = '{{ _('Copied') }}';
                button.classList.add('copied');
                setTimeout(() => {
                  button.dataset.tooltip = '{{ _('Copy') }}';
                  button.classList.remove('copied');
                }, 2000);
              }).catch(err => {
                console.error('Failed to copy text: ', err);
              });
            "
            class="group w-full flex items-center gap-x-2 cursor-pointer" data-tooltip="{{ _('Copy') }}"
          >
            <span class="font-mono truncate max-w-full flex-1 text-[13px]">{{ version_info.get('install_id', '-') }}</span>
            <span class="block group-[.copied]:hidden group-hover:text-foreground [&>svg]:size-3 text-muted-foreground transition-colors">{% include "icons/copy.svg" %}</span>
            <span class="hidden group-[.copied]:block group-hover:text-foreground [&>svg]:size-3 text-muted-foreground transition-colors">{% include "icons/check.svg" %}</span>
          </button>
        </li>
      </ul>
    {% else %}
      <p class="text-muted-foreground">{{ _('No version information found.') }}</p>
    {% endif %}
  </section>
</div>
